// 边框颜色
$m-border-color: #dadbde;
// 基础背景色
$m-bg-color: #f3f4f6;
// 阴影颜色
$m-shadow-color: #22222230;
// 主颜色
$m-main-color: #606266;
// 突出颜色
$m-tips-color: #303133;
// 禁用颜色
$m-disabled-color: #909399;
// 占位颜色
$m-light-color: #c0c4cc;

$m-white-color: #ffffff;

// 主题色
$m-primary: #3c9cff;
$m-primary-dark: #398ade;
$m-primary-disabled: #9acafc;
$m-primary-light: #ecf5ff;

// 辅助色
$m-success: #5ac725;
$m-success-dark: #53c21d;
$m-success-disabled: #a9e08f;
$m-success-light: #f5fff0;

$m-warning: #f9ae3d;
$m-warning-dark: #f1a532;
$m-warning-disabled: #f9d39b;
$m-warning-light: #fdf6ec;

$m-error: #f56c6c;
$m-error-dark: #e45656;
$m-error-disabled: #f7b2b2;
$m-error-light: #fef0f0;

$m-info: #909399;
$m-info-dark: #767a82;
$m-info-disabled: #c4c6c9;
$m-info-light: #f4f4f5;
